<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>redsys</name>
            <displayName><![CDATA[Redsys]]></displayName>
            <version><![CDATA[1.50]]></version>
            <description><![CDATA[Aceptar pagos con tarjeta v&amp;iacute;a Redsys]]></description>
            <author><![CDATA[]]></author>
            <tab><![CDATA[payments_gateways]]></tab>
            <is_configurable>1</is_configurable>
            <need_instance>1</need_instance>
	<limited_countries></limited_countries>
        </module>